/* Los estilos del proyecto */

body {
    font-family: 'Raleway', sans-serif;
}

header{
    position: fixed;
    font-size: 25px;
    padding-right: 20px;
    padding-left: 10px;
}

.logo{
    height: 35px;
    padding-left: 30px;
    margin:  30px;
}

.navbar-nav {
    margin: 30px;
}

.icon-menu {
    float: left;
    margin-left: 30px;
}

/*----------- section-1 -------*/

.image-fond{
    background-image: url(../assets/images/taxi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom center;
    height: 870px;
}

/*--- model-desktop--- */

 .box-desktop {
    background-color: #F7B617;
    height:450px;
    margin-top: 200px;
    font-size: 25px;
    float: right;
    padding: 30px 0px 0px 50px ;
    color: #fff
}

/*--- model-mobile--- */

.box-mobile{
   background-color: #F7B617;
   color: #fff;
   height: 400px;
   float: right;
   padding : 50px;
   top:300px;
}

/*estilos a nuestro boton de registro */

.B1{
    color: #000;
    background-color: #fff;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* linea divisoria de entre botones */
.lines{
    margin:20px;
    padding: 5px;
}

.line{
   display: inline-block;
   width: 20%;
   height: 3px;
  background-color: #fff;
   margin: 10px;
}

 .line2{
   display: inline-block;
   width: 20%;
   height: 3px;
   background-color: #fff;
   margin: 10px;
}

/*-------- section-2-------------------- */
.info-app{
  background-color: #F7B617;
  color: #fff;
  padding: 30px 50px 20px 0px;
}

/*--- model-desktop--- */
.app-desktop{
   background-color: #F7B617;
}

.app {
   height: 450px;
   padding: 10px;
   border: 2px solid #fff;
   margin-right:200px;
}

 .info {
    font-size: 18px;
    padding: 20px;
    font-weight: bolder;
}

/*--- model-mobile--- */
.app-mobile {
   background-color: #F7B617;
   padding:  50px 50px 0px 50px;
}

.mobile {
   height: 500px;
   padding: 30px 10px;
   border: 2px solid #fff;
   width: 100%;
}

.cellphone2 {
  padding-left: 50px;
}
.app-text {
  display: inline-block;

}

/* <!------------------- section-3 ----------------> */
.conduce{
   background-image: url(../assets/images/conduce.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 600px;
   background-position: center;

}

.info-c{
   background:rgba(0,0,0, 0.5);
   color: #fff;
   width: 35%;
   height: 600px;
   float: right;



}
.conduce-info{
   padding: 30px;
   margin-top: 100px;
   font-size: 20px;
   text-align: justify;
   /* border: 1px solid white; */
}
.b2{
   background: #F7B617;
   border: none;
   color: #fff;
   font-weight: bolder;
   font-size: 20px;
}

/*------------- Cuarta sección ---------*/
.taxes{
  background: #F7B617;
  padding: 10px;
  color:#fff;
  font-size: 20px;

}
.data {
  padding-top: 20px;
}
#f-1 {
  background-color: #F7B617;
  border: 2px solid white;
}

.padding-left {
  padding-left: 1px;
}
.btn-app {
  padding: 10% 0 20% 30%;
  font-weight:bold;
  font-weight: bold;
}

.map {
  border: 1px solid #fff;
  padding:  20px;
  width: 100%;
}
 /*--------- footer--------------- */

.p-pag{
  background-color: #2B2B2B;
  color: #fff;

}
.logo-f {
  padding-top: 10px;
}

.list-1 li {
  list-style: none;

}
.list-1 li a {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
}
.icons {
  color: #fff;
  font-size: 20px;

}
/* Estilos  modal Inicio de Sesion*/
.modalsesion {
  background-color: #08AC9D;

}
#myModal img {
  width: 100px;
  background-color: #027FEB;
}

.form-sesion {
  width: 400px;
  padding: 30px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 100px;
}
.btn-login {
     background-color: #F7B617;;
     border-radius: 5px;

}
.btn-register {
  background-color: black;
  color: white;
  width: 100%;
}

/* Estilos del modal Registrate*/
.bg-colorModal2 {
  background-color: #A9A9A9;
}

#username {
  width: 282px;
}

#email {
  margin-top: 1.5rem;
}
.modalRegister {
  color:black;
}
 .btn-send {
  background-color: #5BC0DE;
  color: white;
  margin-top: 1rem;
  width: 100%;
}

/* Estilos del modal Conviertete en conductor*/
.modal3 {
  background-color: #A9A9A9;
  color: black;

}

.send-mail {
  color:#989497;

}

.mail-socio {
  color:#5E8598;
}
/*--------- Media jquery----- */
  @media(min-width: 768px){
  .box-desktop{
    display: none;
  }
  .box-mobile{
    display:block;

  }
  .app-desktop{
    display: none;
  }
  .app-mobile{
  display: block;
}
}

 @media (max-width: 768px){
.box-desktop{
  display: none;
}
.box-mobile{
  display:block;
}
.app-desktop{
  display: none;
}
.app-mobile{
  display: block;
}
.info-c {
  width: 100%

}
.conduce-info{
  display: block;
}

}
@media (min-width: 992px) {
  .box-desktop{
    display: block;
  }
  .box-mobile{
    display:none;
  }

  .app-desktop{
    display: block;
  }
  .app-mobile{
  display: none;
  }
  .info-c {
  width: 40%

  }
}
